:root{
    --white-digit-color: #F9F7F7;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: #e9ecef;
    font-family: 'Trispace', sans-serif;
    text-transform: uppercase;
    min-height: 100vh;
    position: relative;
    color: #343a40;
}

.container-calcu{
    border-radius: 32px;
    background-color: #91a7ff;
    padding: 1.5rem 1rem;
    box-shadow: 0px 4px 2px 2px rgba(0, 0 , 0, 0.4);
}
#answer, .digit,.operator,.utility,.dot{
    border-radius: 24px;
    margin:5px 2.5px;
    box-shadow: 0px 2px 1px 2px rgba(0, 0 , 0, 0.23);
}
#answer{
        height: 110px;
        background-color: var(--white-digit-color);
        z-index:9;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        padding: 1rem 1.5rem;
        box-shadow: 0px -2px 1px 2px rgba(0, 0 , 0, 0.23);
        .typed-answer{
            font-size: 22px;
        }
        .calculated-answer{
            font-size: 38px;
            font-weight: 700;
        }
}

.digit-row{
    .digit,.operator,.utility,.dot{
        padding: 1.25rem 0;
        text-align: center;
        background-color: var(--white-digit-color);
        border:none;
        min-width: 90px;
        cursor: pointer;
    }
    .digit:hover,.dot:hover,.operator:hover,.utility:hover{
        background-color:#f1f1f1;
    }
    .digit:active,.dot:active,.operator:active,.utility:active{
        transform: scale(.975);
        box-shadow: 0px 1.4px .7px 1.4px rgba(0, 0 , 0, 0.08);
        background-color:#e7e7e7;
    }

}
.operator,.utility{
    background-color: #e3e3e3 !important;
}
header.header{
    width: 100%;
    text-align: center;
    margin: 1rem 0;
    padding: 0 1.75rem;
    margin-bottom: 1rem;
    font-family: 'Bungee Inline', cursive;
    line-height: 1.2;
    font-size: 1.75rem;
}
footer{
    padding: 1.5rem 0 .5rem 0;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
@media (max-width: 600px){
    header.header{
        padding: 0 .75rem;
        font-size: 1.25rem;
    }
    .container-calcu{
       transform: scale(.72);
       margin: -3rem 0;
    }
    footer{
        font-size: 14px;
        padding: .5rem;
    }
}