:root{
    --calcu-main-color: #343a40;
    --font-color: #212529;
    --button-bg-color: #e9ecef;
    --button-hover-darkwhite: #ced4da;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--button-bg-color);
    color: var(--font-color);
    font-size: 24px;
    font-family: 'Trispace', sans-serif;
    text-transform: uppercase;  
    text-align: center;
}

.container-calcu{
    max-height: 600px;
    max-width: 420px;
    border-radius: 32px;
    box-shadow: 0px 4px 2px 2px rgba(0, 0 , 0, 0.4);
    background-color: var(--calcu-main-color);
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
 
}
#answer, .digit,.operator,.utility,.dot{
    box-shadow: 0px 2px 1px 2px rgba(0, 0 , 0, 0.23);
    border-radius: 24px;
    margin:5px 2.5px;
}
#answer{
        z-index:9;
        height: 110px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        box-shadow: 0px -2px 1px 2px rgba(0, 0 , 0, 0.23);
        background-color: var(--button-bg-color);
        gap: 1rem;
        padding: 1rem 1.5rem;  
        overflow: hidden;
        .typed-answer{
            font-size: 22px;
            
        }
        .calculated-answer{
            font-size: 38px;
            font-weight: 700;
        }
}

.digit-row{
    .digit,.operator,.utility,.dot{
        min-width: 90px;
        border:none;
        background-color: var(--button-bg-color);
        padding: 1.25rem 0;
        cursor: pointer;
    }
    .digit:hover,.dot:hover,.operator:hover,.utility:hover{
        background-color:var(--button-hover-darkwhite);
    }
    .digit:active,.dot:active,.operator:active,.utility:active{
        transform: scale(.975);
        box-shadow: 0px 1.4px .7px 1.4px rgba(0, 0 , 0, 0.08);
        background-color:var(--button-hover-darkwhite);
    }

}
.operator,.utility{
    background-color: #c7c7c7 !important;
    &:hover{
        background-color: #b9b9b9 !important;
    }
}

header.header{
    width: 100%;
    font-family: 'Bungee Inline', cursive;
    font-size: 1.75rem;
    line-height: 1.2;
    margin: 1rem 0;
    padding: 0 1.75rem;
    margin-bottom: 1rem;  
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 16px;
    padding: .25rem;
    width: 100%;
}
@media (max-width: 600px){
    header.header{
        padding: 0 .75rem;
        font-size: 1.25rem;
    }
    .container-calcu{
        transform: scale(.72);
        margin: -3rem 0 0 0;
        margin-bottom: 0;
    }
    footer{
        font-size: 14px;
        padding: .5rem;
    }
}